:root {
  --primary-tint: rgb(255, 225, 221);
  --primary-base: rgb(243, 64, 45);
  --primary-shade: rgb(181, 32, 15);
  --gray-tint: rgb(227, 227, 227);
  --gray-base: rgb(60, 63, 67);
  --gray-shade: rgb(30, 30, 27);
  --second-base: #fff0e2;
  /* --second-tint: #fffaf5; */
  --second-tint: #fff9f9;
  --text-l: 40px;
  --text-xl: 50px;
  --text-m: 30px;
  --text-sm: 20px;
  --text-s: 16px;
  --text-xs: 12px;

  /* btn rounded */
  --border-rounded-full: 50px;
  --border-rounded-tight: 12px;
  --border-rounded-normal: 25px;

  /* height */
  --h-screen: 100vh;
  --min-h-screen: 100vh;

  /* padding for btn*/
  --padding-btn-m: 10px 20px;
  --padding-btn-s: 8px 16px;

  /* nav height */
  --nav-height: 70px;
}

@media (max-width: 480px) {
  .nav-bar {
    /* position: relative; */
    justify-content: center;
    align-items: center;
  }
  /* .section2 {
    margin-top: 0;
  } */
  li {
    display: none;
  }
  .grid-card {
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 0;
    column-gap: 8px;
    row-gap: 8px;
    justify-content: center;
    align-items: center;
    margin-inline: 8px;
  }
  .card {
    padding: 6px;
    box-shadow: none;
    box-shadow: 0 5px 5px rgba(199, 199, 199, 0.2);
  }
  .card:hover {
    box-shadow: 0 0px 10px rgba(199, 199, 199, 0.4);
    transform: scale(1);
  }
  .card img {
    border-radius: 18px;
  }
  .card-title {
    font-size: 18px;
  }
  .card-sub {
    font-size: 12px;
  }
  .card-price {
    font-size: 16px;
  }

  .card img:hover {
    border-radius: 20px;
  }
  .card-btn {
    gap: 8px;
    padding-top: 5px;
  }
  .purchase:hover {
    transform: none;
    box-shadow: none;
  }
  .card-add {
    /* gap: 5px; */
    display: none;
  }
  .bi {
    padding: 1px;
    font-size: 20px;
  }
  .map {
    padding: 2px;
    font-size: 16px;
  }
  .purchase {
    padding: 6px 10px;
    font-size: 12px;
  }
  .quanity {
    font-size: 14px;
  }
  .hero-sec {
    display: none;
  }
  .bag-add {
    font-size: 17px;
    padding: 6px 20px;
  }
  .bag-add:hover {
    transform: none;
    box-shadow: none;
  }
  .footer {
    position: fixed;
    display: flex;
    bottom: 10px;
    height: 60px;
  }
  .footer a {
    height: 100%;
    width: calc(100% / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-rounded-full);
    /* border: 1px solid #ddd; */
  }
  .footer .home {
    color: var(--second-tint);
  }
  .drink {
    display: flex;
  }
  .search {
    display: flex;
    height: 40px;
    width: 70%;
  }
  .search input {
    border-radius: var(--border-rounded-tight);
  }
  .bi-search {
    font-size: 18px;
  }
  .nav-bar {
    justify-content: center;
    flex-direction: row;
    height: var(--nav-height);
    padding-block: 5px;
    gap: 10px;
  }
  .bi-person-circle,
  .bi-upc-scan {
    display: flex;
    font-size: 20px;
    padding: 10px;
    color: var(--second-base);
  }
  .logo {
    display: none;
  }
}

