* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: var(--second-tint);
}
:root {
  --primary-tint: rgb(255, 225, 221);
  --primary-base: rgb(243, 64, 45);
  --primary-shade: rgb(181, 32, 15);
  --gray-tint: rgb(227, 227, 227);
  --gray-base: rgb(60, 63, 67);
  --gray-shade: rgb(30, 30, 27);
  --second-base: #f8dec5;
  --second-tint: #fffaf5;
  --text-l: 40px;
  --text-xl: 50px;
  --text-m: 30px;
  --text-sm: 20px;
  --text-s: 16px;
  --text-xs: 12px;

  /* btn rounded */
  --border-rounded-full: 50px;
  --border-rounded-tight: 12px;
  --border-rounded-normal: 25px;

  /* height */
  --h-screen: 100vh;
  --min-h-screen: 100vh;

  /* padding for btn*/
  --padding-btn-m: 10px 20px;
  --padding-btn-s: 8px 16px;

  /* nav height */
  --nav-height: 60px;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  font-size: var(--text-xl);
  line-height: 1;
  letter-spacing: -2px;
}
h3 {
  font-size: var(--text-m);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -2px;
}
p {
  font-size: var(--text-sm);
  line-height: 1.2;
}
li {
  list-style-type: none;
}
li img {
  height: 30px;
  border-radius: var(--border-rounded-full);
  border: 1px solid white;
}
.nav-bar {
  height: var(--nav-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0px;
  right: 0;
  z-index: 999;
  padding-inline: 50px;
  background-color: rgba(243, 65, 45);
  backdrop-filter: blur(50px);
}
.logo {
  font-size: var(--text-m);
  background-image: linear-gradient(
    to right,
    var(--gray-tint),
    var(--primary-base)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 36px;
}
.hero-sec {
  position: relative;
  height: var(--nav-height);
  min-height: var(--min-h-screen);
  margin-top: calc(var(--nav-height) / 2);
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.background {
  z-index: 1;
  height: auto;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.background img {
  height: var(--h-screen);
  width: 100vw;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
}
.parent-container {
  height: var(--h-screen);
  width: 100vw;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 183, 183, 0.305);
  backdrop-filter: blur(25px);
}
.left-container {
  height: auto;
  width: calc(100% / 2 - 10%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
.left-logo {
  background-image: linear-gradient(
    to right,
    var(--gray-tint),
    var(--primary-base)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: var(--text-l);
}
.left-title {
  font-size: 62px;
  color: white;
}
.left-article {
  font-size: var(--text-sm);
  color: var(--gray-tint);
}
.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.btn {
  padding: var(--padding-btn-m);
  background-color: var(--primary-base);
  border-radius: var(--border-rounded-full);
  color: white;
}
.btn2 {
  background: none;
  border: 1px solid var(--primary-base);
  color: var(--primary-base);
}
.right-container {
  height: auto;
  width: calc(100% / 2);
  display: flex;
  justify-content: right;
  align-items: center;
}
.right-container img {
  width: 80%;
  height: auto;
  animation: spin 120s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section2 {
  height: max-content;
  width: 100vw;
  margin-top: var(--nav-height);
  overflow: hidden;
}
.grid-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 40px;
  padding-inline: 50px;
  padding-block: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-rounded-normal);
  box-shadow: 0 5px 10px var(--gray-tint);
  padding: 10px;
  gap: 5px;
  transition: 0.2s ease-out;
  background-color: var(--second-tint);
}
.card-title {
  width: 100%;
  text-align: left;
  font-size: 22px;
  letter-spacing: 0;
  color: var(--primary-base);
}
.card-sub {
  font-size: 14px;
  color: var(--gray-shade);
}
.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 15px;
  transition: 0.2s ease-out;
}
.card-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
.card-add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 5px;
  background-color: var(--primary-tint);
  border-radius: var(--border-rounded-full);
}
.quanity {
  font-size: 14px;
  color: var(--gray-base);
}
.bi {
  padding: 4px;
  border-radius: var(--border-rounded-full);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  color: var(--gray-base);
}
.add,
.minus {
  background-color: var(--primary-base);
  color: var(--second-tint);
}
.purchase {
  padding: 7px 12px;
  border: 1px solid var(--primary-base);
  border-radius: var(--border-rounded-full);
  background-color: var(--primary-base);
  font-size: var(--text-xs);
  transition: 0.2s ease-out;
}
.purchase:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 5px var(--primary-base);
}
.card:hover {
  transform: scale(0.98);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.card img:hover {
  transform: scale(1.01);
  border-radius: 18px;
}
.card-price-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.card-price {
  font-size: 18px;
  color: red;
  padding-right: 16px;
}
.map {
  font-size: 16px;
  color: white;
  background-color: var(--primary-base);
}
.bag-add {
  font-size: 16px;
  padding: 8px 20px;
  background: none;
  color: var(--primary-base);
  border: 1px solid var(--primary-base);
  transition: 0.2s ease-out;
}
.bag-add:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 5px var(--primary-base);
}
